.NavBar {
  position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;
  margin: 4%;
}

  .hambtn {
    /* margin-top: 10%;
    margin-left: 75%; */
    
  position: absolute;
  left: 86.67%;
  right: 5.87%;
  top: 1.72%;

  }

  .height {
    height: 2.3rem;
  }

  .line {
    height: 1px;
    background-color: #C5C5C5;
    border:none;
  }