.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}
.container {
  flex-direction: column;
}
.container .modal {
  z-index: 3;
  background: white;
  width: 18.063rem;
  height: 24.063rem;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  border-radius: 14px;

  background-color: #d3d3d3;

  /* 텍스트 아래 정렬 관련 */
  align-items: flex-end;
  /* align-content: center; */

  margin-bottom: 1em;
  border: 1px solid lightgray;
  transition: transform 250ms ease-in;
}

.closeBtn {
  padding: 8px 11px;
  background: gray;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.card {
  font-family: Noto Sans KR;
  padding-top: 0.01rem;
  color: #474747;
  font-size: 1.125rem;
  margin-inline: 0.9375rem;
}

.content {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  height: 2.8rem;
  margin-right: 0.5rem;
}
.date {
  font-family: pretendard;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  margin-bottom: 0.8rem;
}
.like {
  background-color: white;
  font-family: pretendard;
  color: #878787;
  font-size: 12px;
  margin-left: 0.25rem;
  display: table;
}
.like_icon {
  display: table-cell;
}
.like_text {
  padding-left: 0.2rem;
  display: table-cell;
  height: 15px;
  vertical-align: middle;
}
