.cardItem {
  display: flex;
  /* 그리드로 나눈 구역의 가운데에서 85%... */
  width: 85%;
  height: 15rem;
  border-radius: 14px;

  background-color: #d3d3d3;

  /* 텍스트 아래 정렬 관련 */
  align-items: flex-end;
  /* align-content: center; */

  margin-bottom: 0.2em;
  border: 1px solid lightgray;

  cursor: pointer;
  transition: transform 250ms ease-in;
}
.card {
  font-size: 12px;
  margin-inline: 0.9375rem;
}

.date {
  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
}

.content {
}
