.text_style{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
    text-align: center;
    color:#474747;
}

.image_style{
    margin-top: 15%;
    text-align: center;
}