version: '3'
services:
    app:
      image: node:12-alpine
      build:
        context: .
        dockerfile: Dockerfile
      ports:
        - 3000:3000
      working_dir: /app
      volumes:
        - ./:/app
      command: sh -c "npm install && npx prisma generate && npx prisma db pull && npm run serve:start"
    prisma:
      image: prismagraphql/prisma:1.34
      restart: always
      ports:
        - '4466:4466'
      environment:
        PRISMA_CONFIG: |
          managementApiSecret: dnd5_6
          port: 4466
          databases:
            default:
              connector: mysql
              host: ${DOCKER_DB_HOST}
              port: ${DOCKER_DB_PORT}
              user: ${DOCKER_DB_USER}
              password: ${DOCKER_DB_PASSWORD}
              connectionLimit: 2
