.set {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 300%);
}
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
}
.message {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  text-align: center;
  color: #474747;
}
