.box_section {
  display: flex;
}
.record_bar {
  flex-shrink: 0;
}
.section_name {
  font-family: Noto Sans KR;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
}
.section_text {
  font-family: Noto Sans KR;
  color: #474747;
  font-size: 1rem;
}
.record_button {
  margin-left: 4rem;
  height: 2rem;
}
