.profile_box {
  display: flex;
  justify-content: center;
  margin-block: 2rem;
}

.element_section {
  align-items: center;
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
}
.element {
  display: table;
  width: 21.438rem;
  height: 4rem;
  left: 1rem;
  top: 14.25rem;
  margin-bottom: 1rem;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.05));
  background: #ffffff;
  border-radius: 14px;
}
.nickName {
  display: table-cell;
  vertical-align: middle;
  color: #474747;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
}
#nickName_text {
  width: 23%;
}
.bracket {
  display: table-cell;
  vertical-align: middle;
}
.element_text_disable {
  display: table-cell;
  padding-left: 1rem;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 23px;
  vertical-align: middle;

  color: #a5a5a5;
  top: 50%;
}
.element_text {
  display: flex;
  display: table-cell;
  vertical-align: middle;
  padding-left: 1rem;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  line-height: 23px;

  color: #474747;
}
