/* .cardList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
} */



/* 카드 전체 틀 */
.cardList {

  /* 그리드 정렬 */
  display: grid;
  /* 2열 정렬 */
  grid-template-columns: 50% 50%;

  flex-wrap: wrap;
  list-style: none;
  padding-left: 0%;
}

/* 제일 바깥 */
.container{
	/* display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-gap: 0.5em; */
  margin:0.5%;
}

/* 카드끼리 여백(가운데 제외) */
.carddescription{
  width: 100%;
  /* height: 20rem; */
  margin-bottom: 5%;
  margin-left: 8%;
  margin-right: 8%;
}



.card{
	/* height: max-content; */
  height: 100%;
  
}